body{
    background-image: url(../img/fundo-3d-com-cubos-brancos.jpg);
    background-position: center;
    align-items: center;
    font-family: "Poppins", Sans-serif
}


.form-control{
    width: 100%;
    display: flex;
}

#formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo_cad{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
    position: relative;
    left: 13%;
}
